[2015-09-08 15:32] keithpitt opened #1 "Searching with an absolute path"
Hey there! I tried to do a glob searching using `/Users/keithpitt/Desktop/*.doc` but it didn't pick up any files. I checked out the source and thought it would be because the empty string here: https://github.com/bmatcuk/doublestar/blob/master/doublestar.go#L161 should be `"/"`. I hacked it in to test, and it still didn't work. Perhaps that type of search isn't supported? Thanks for you help!

[2015-09-10 01:27] #1 closed

[2015-09-10 01:30] bmatcuk commented on #1
Hey @keithpitt! Thanks for the bug report... turns out you were on the right track. I've changed the empty string to `string(filepath.Separator)` to support our unfortunate Windows using friends. Your fix was correct, but if you were using `doublestar_test.go` to test, it wouldn't have worked because the test suite prepends `test/` to the paths to make them relative, and `test/Users/keithpitt/Desk

[2015-09-10 05:24] keithpitt commented on #1
Awesome, thanks for the speedy fix!

[2015-09-10 05:49] bmatcuk commented on #1
No problem!

[2015-11-22 13:23] poffe opened #2 "Globstar returning false positives"
Using a globstar in glob patterns seems to return more than it should.

Adding a MatchTest of:
[code]
and running the tests gives:
[code]
or have I misunderstand how globstar is supposed to work?

Best regards, Poffe.

[2015-11-22 23:29] #2 closed

[2015-11-22 23:30] bmatcuk commented on #2
You're right, that's not the way that should work! I've corrected the issue and commit a fix just now.

[2015-11-23 14:02] poffe commented on #2
Great work! Thanks for the superfast update.

[2015-11-23 19:43] bmatcuk commented on #2
Thanks! No problem =)

[2016-02-08 03:53] cortesi opened #5 "Can't check doublestar out on Windows"
Hi there. Thanks for the a neat and well-put-together module. I have two projects that use doublestar [devd](http://github.com/cortesi/devd) and [modd](http://github.com/cortesi/modd). Both of these are cross-platform, with releases on Windows. Unfortunately the doublestar repo includes files that can't exist on Windows, which means that a "go get" of my projects won't work. Here's an excerpt:

<i

[2016-02-08 20:27] bmatcuk commented on #5
Ok, I've removed the tests so it should work on windows. Let me know!

[2016-02-09 03:09] cortesi commented on #5
Thanks for the quick response. That works now.

[2016-02-09 03:09] #5 closed

[2016-08-09 16:06] johnSchnake opened #7 "doublestar at end of string doesn't match empty string"
I would have expected
[code]
to match
[code]
but it does not. If `**` matches _one or more_ occurrences of any character then this is incompatible with the fact that `**abc` matches `abcc` just fine.

[2016-08-18 18:19] bmatcuk commented on #7
Sorry for the slow reply; I've been out of town. This sounds like a bug to me. I'll look into it.

[2016-08-23 03:14] #7 closed

[2016-08-23 03:22] bmatcuk commented on #7
I've corrected the issue, but, upon thinking about it some more, what is the expected behavior when using a doublestar with other characters? All of the examples I could find from other languages (say, bash, for example) with doublestar/globstar support only show it being using like `path/**/file`... what would `path/abc**/file` do? With this fix, the behavior is that the `**` is actually just tre

[2016-09-06 23:17] zaksoup opened #9 "Self-referential symlink causes issues with git and go vendoring"
Hi, the link https://github.com/bmatcuk/doublestar/blob/master/test/abc/working-symlink references itself. I'm seeing this cause issues when copying the doublestar project into a go `vendor` directory and then attempting to add the results to git. There's some strange corner cases in that the project we're seeing this issue in is vendoring a different project which then vendors doublestar.

Here a

[2016-09-11 19:53] bmatcuk commented on #9
I'm so sorry! I'm not sure how that happened. I've removed the errant symlink from the repo, so you should be good now.

Sorry it took so long to get to this... I've been crazy busy lately =(

[2016-09-11 19:53] #9 closed

[2018-01-18 17:50] Orxcle-xx opened #13 "Matching Bug"
Hi,

Thanks for a great library. However, it seems that I've found a bug.
[code]
This Match function returns false. I believe it matches incorrectly when first "*" in the pattern has same position as "/" in the matched string.

Best,

[2018-01-26 16:49] bmatcuk commented on #13
Hey @Orxcle-xx! I'm glad you find my library useful! I finally had a chance to take a look at this issue and I started to work on a fix when I realized it's really working as intended. I was using bash's globstar functionality as my inspiration and it doesn't really support this syntax either: globstars/doublestars are meant to be by themselves (ie, between path separators like `/**/`). Your patte

[2018-03-01 22:35] client9 opened #14 "typo in GitHub project description"
hello,  thanks for a great project.. found a typo in the project description (can't make a PR for this!)

should be `filepath.Glob` not `filepatch.Glob`

regards,

n

[2018-03-01 23:38] bmatcuk commented on #14
Oopsie! Thanks for the catch!

[2018-03-01 23:38] #14 closed

[2018-08-02 16:25] stu-b-doo opened #15 "path separator on Windows"
I don't know how much you're trying to mimic path/filepath.Glob with this but on Windows, path/filepath.Glob converts forward slash to the appropriate path separator.

[code]

Using filepath.FromSlash works for me in my current problem but could be useful to use this in doublestar.Glob and Match anyway?

Neat package :)

[2018-08-06 17:35] stu-b-doo commented on #15
Unfortunately, path/filepath.FromSlash doesn't work to convert forward slash to a Windows path separator: if the pattern matches a file in the subdir, path/filepath.FromSlash resolves to the relative path for that file.

So it seems to work if all the hits to the pattern are in a subdirectory, but if there are any files that match the pattern in the current directory, FromSlash seems to resolve th

[2018-08-06 21:00] bmatcuk commented on #15
Ah, interesting... I'll see what I can come up with =) I just got back from vacation, so it might be a couple days. Thanks!

[2018-08-10 15:16] #13 closed

[2018-08-11 04:08] bmatcuk commented on #15
So, sounds like `filepath.FromSlash` should fix the issue. I've made Glob call FromSlash internally. Let me know if you have any issues! =)

[2018-08-11 04:08] #15 closed

[2018-08-11 08:16] FernFerret opened #17 "Latest commit seems to have broken doublestar on Windows"
Sadly, I'm writing some code that need to work on windows (and the dependency I'm using is actually `fileb0x` which uses `doublestar`) and I couldn't figure out why no paths worked. I then noticed your latest commit (d8311f3021765eaae68173768a540b6592f19977) causes all of your tests to fail on windows. For now, I've reverted to `v1.0.10` but I see what you're trying to do and still think it's a gr

[2018-08-11 08:31] FernFerret commented on #17
Ha, I think I "overreacted" with the difficulty of this... I think it's a matter of flipping `FromSlash` to `ToSlash` on https://github.com/bmatcuk/doublestar/commit/d8311f3021765eaae68173768a540b6592f19977#diff-4f146c959d4b9b1d1f7237875870e8f9R192

This way, it normalizes windows paths to *nix style paths (which is what I think you intended). I'm more than willing to open a PR, but tbh, it's a 1

[2018-08-11 13:49] bmatcuk commented on #17
Ah, nuts! I was worried this would happen! I don't have a Windows machine to test on. Thank you for looking into it! I'll make that change right now...

[2018-08-11 13:53] bmatcuk commented on #17
Ok, v1.1.1 released. Let me know if that fixes the issue! If it doesn't, I'll revert and see if I can find another solution.

[2018-08-11 13:59] FernFerret commented on #17
Thanks @bmatcuk works fine! 👍

[2019-01-03 16:40] solderjs opened #18 "weird github repo http issue"
Both on Windows and CircleCI (via Docker RUN) it seems that packages that depend on this are getting empty repos rather than code. See https://github.com/UnnoTed/fileb0x/issues/50

Ubuntu and Mac OS seem unaffected.

I forked your repo and used a `replace` directive in the `go.mod` to my fork, no code changes whatsoever, and `go get` now works on Windows.

This leads me to believe that there's som

[2019-01-03 18:01] bmatcuk commented on #18
That's a very strange issue... could you try running `go clean -modcache` (https://github.com/golang/go/issues/26695)?

[2019-01-25 00:39] bmatcuk commented on #18
I see you closed the related ticket on fileb0x... should we close this issue, too?

[2019-06-04 09:55] storyicon opened #19 "any benchmark"
When I thought about developing a wheel, I found it, which would save me a lot of time, thanks!
So will there be any official benchmark?

[2019-06-04 10:43] storyicon commented on #19
I think it would be better to provide a function like `IsValidPattern(string) (bool, error)` to let the developer know whether an expression is valid before call `Match(string, string)(bool, error)`.

[2019-06-10 06:29] storyicon opened #20 "🐞 There may be some bugs"
Unfortunately, I found that your `document` does not match the behavior of the `doublestar.Match()`

1. As mentioned in the document , `*` will not match any path separators, but `doublestar.Match("*", "/")` will return `true`, and golang's native `path.Match()` will return `false`.
2. `doublestar.Match("*", "")` will return `true`, which looks like `"*"` can match 0 or more characters, but `doubl

[2019-06-10 08:49] storyicon commented on #20
I spent some time making it work as expected. Since I haven't read your code completely, I'm not sure if these changes will import new bugs.But if you think these changes are going in the right direction, I will submit PR.

[2019-06-16 12:59] bmatcuk commented on #19
Hey @storyicon, that's not a bad idea. My original intent with this library was to implement a drop-in replacement for path.Match, filepath.Match, and filepath.Glob, so I didn't think to implement some kind of validation method (as path and filepath don't have validation methods either). That said, the complexity of a validation function would be on par with Match/PathMatch and, so, it's probably

[2019-06-16 12:59] bmatcuk commented on #18
I'm going to close this ticket since I haven't heard from you in a while.

[2019-06-16 12:59] #18 closed

[2019-06-16 13:04] bmatcuk commented on #20
Hmm, ya, I expect your first three points are from an optimization to return true if the last term of the pattern is `*`. If you want to submit a PR, I'll take a look at your code =)

[2019-06-16 13:06] bmatcuk commented on #19
Oh, as for benchmarks: I don't have any benchmarks, but I'd welcome some. Are there other globbing libraries for go that support `**` to compare against? I'm not aware of any. Speed wasn't really my goal when I wrote the library, so I wouldn't be surprised if it is "slow".

[2019-06-17 06:35] solderjs commented on #18
Sorry.

I never figured out what the issue was. There was another issue dealing with hashing symlinks in go 1.11.3 or so and it’s possible that the error message was a red herring (the repo wasn’t empty, but failed checksums and was then cleaned up or error by go get or some such) and that versioned weren’t tightly locked and so the windows and docker environments had the newer, buggier version at

[2019-06-17 06:42] solderjs commented on #18
Or maybe it was that I ran `go mod vendor` on the good system, committed to the repo, and let the bad system `go build -mod vendor`.

[2019-06-17 11:46] bmatcuk commented on #18
lol, ghost in the wires, indeed!

[2019-06-30 00:44] #20 closed

[2019-06-30 01:03] bmatcuk commented on #20
Hey @storyicon - thanks again for reporting the issues and submitting the PR! After digging into it, I decided a on a different approach the solve the issue. I even added some tests to make sure the output of my functions matches the output from the official golang functions they are meant to replace.

Would you mind testing real quick to make sure my changes fix all the issues you've found?

[2019-07-05 17:44] bmatcuk opened #22 "failed to clean up git repository status output: M test/broken-symlink"
From @cequintana:

[2019-07-05 17:51] bmatcuk commented on #22
doublestar includes some automated tests and a directory of files to run those tests on. It looks like Windows doesn't like some of the stuff in that test directory. I'll have to come up with a different solution to run those tests... I'll try to get to that this weekend.

[2019-07-06 02:09] cequintana commented on #22
Thank you very much for your message Bob @bmatcuk Let me know when its fixed - I will test!

[2019-07-06 23:02] bmatcuk commented on #22
@cequintana ok, I have an update available. You may need to remove the existing files for the error to go away. That means deleting `C:\Users\cquintana\go\pkg\dep\sources\https---github.com-bmatcuk-doublestar`. Could you give it a try and let me know how it goes?

[2019-07-07 00:38] cequintana commented on #22
Hi Bob! Thank you so much for adding the fix! The error regarding the doublestar is gone.  Thats great. But I have an open issue with Fossa-cli. That project is not building. Not sure if it doesn't work on Windows . This issue can be closed! Thanks again!

[2019-07-07 02:32] bmatcuk commented on #22
Excellent! Good luck with fossa-cli =)

[2019-07-07 02:32] #22 closed

[2019-07-12 04:59] storyicon opened #23 "Some minor deviations"
I am happy to see that the `doublestar` has been updated, but after test, the match between `/*` and `//` is `true`, which is not compatible with the statement you made in the documentation:
[code]
The way to reproduce this mistake:
[code]

[2019-07-13 05:58] bmatcuk commented on #23
What's actually happening here is that doublestar is normalizing `//` to be `/`, which, then, _does_ match the pattern `/*`. I would argue go's Match algorithm is wrong here; normalizing double path separators into a single separator is very common. For example, in bash, I can run `ls //` and get the same results as `ls /`. In fact, even crazy things like `ls /////usr////////local/////bin` work ju

[2019-07-18 05:59] storyicon commented on #23
bmatcuk, I spent a morning evaluating the problem, because I think it really needs caution.
I use `doublestar` for `URL path matching`. As I can see, your original intention of `doublestar` is to match paths in the `file system`.
After my test, in URL path matching, neither an HTTP framework like `gin` nor `echo` treats `//about` as `/about`, but for some traditional websites, they do think of mul

[2019-07-21 17:50] #23 closed

[2019-07-21 17:53] bmatcuk commented on #23
Hmm, ok, I thought about this for a little bit and I've come over to your side =) I've removed the code that ignores multiple slashes in the paths and patterns. My thinking is: if a user has problems with double slashes, they can always clean-up their input before calling doublestar. But if I leave in the code that cleans it up, then someone who wants to treat `/` differently from `//` has no opti

[2019-07-22 02:46] storyicon commented on #23
It is working very well for me now, doublestar is great, thank you

[2019-07-22 02:50] storyicon commented on #20
😊 Sorry, I just saw it, thank you for your work, doublestar is now working very well for me.

[2019-07-22 06:01] bmatcuk commented on #23
Awesome! You're welcome!

[2019-11-26 10:35] karlism opened #25 "Alternatives not working with slashes properly"
Hello,

Alternatives in glob search patterns seem to not be working properly, when they contain slashes. [According to documentation](https://github.com/bmatcuk/doublestar/#patterns), it should be possible to escape special characters by using `\`, but it doesn't seem to work:

Steps to reproduce:
[code]

[code]

These patterns are working perfectly fine in both `ksh` and `bash`:
[code]

Being abl

[2019-11-26 23:21] bmatcuk commented on #25
Oops, I totally responded to this in my head and meant to get to it right away, but got distracted! That definitely sounds like an issue; I'll take a look first chance I get. Thanks for the detailed report!

[2019-11-30 21:00] bmatcuk commented on #25
Ugh, I'm having some trouble implementing this... I think the best way to implement it would be a rewrite, which I'm trying to avoid, but it's getting messy. Might be a while until I get around to fixing this.

[2019-12-01 21:39] bmatcuk commented on #25
@karlism: Good news! I spent the day on it and I just cut v1.2.0 which I _think_ will work for you. I had to make a lot of changes to the code, so it's possible that a bug or two crept in, but it's passing all of my tests plus a few I added specifically for this feature. Let me know if you run into any problems!

[2019-12-02 07:34] karlism commented on #25
@bmatcuk, thanks a lot for working on it!
I will test v1.2.0 in both in my example code and Loki and will let you know about results.

[2019-12-02 08:44] karlism commented on #25
@bmatcuk, I did some test and unfortunately I cannot get it to work as expected:
[code]
I made sure that `doublestar` is updated to latest version prior to running this code.
I would expect following patterns to work:
- `{/tmp/test/example*}`
- `{/tmp/test/*}`
- `{/tmp/test/example1}`
- `{/tmp/test/example1,/tmp/test/example2}`

And `/tmp/test/example1,/tmp/test/example2` to produce proper syntax

[2019-12-02 18:32] bmatcuk commented on #25
Nuts, thanks for the thorough testing! I'll see if I can get some fixes ASAP

[2019-12-02 20:57] bmatcuk commented on #25
@karlism v1.2.1 should fix these issues. I was unable to reproduce an error with the pattern `/tmp/test/example1,/tmp/test/example2` - it simply returns no results. Your sample program above, however, seems to work for all other test cases.

[2019-12-03 07:30] karlism commented on #25
@bmatcuk, thank you! I've just tested everything and it works properly now.
As for the `array index 10 out of bounds [0:10]` error, it was my mistake, as I had forgot to adjust length of `patterns` array after adding another element to it, so `go` was complaining about length mismatch in my code. I will also test `v.1.2.1` on Loki, but I do not expect any surprises there.
Thanks again for prompt f

[2019-12-03 07:30] #25 closed

[2019-12-03 14:11] bmatcuk commented on #25
You're welcome! Let me know if you run into any other trouble with doublestar =)

[2019-12-05 20:42] edasque opened #26 "Class matching with repeat"
I am trying to match ```/var/log/plex/Plex Media Scanner Analysis.log``` but not ```/var/log/plex/Plex Media Scanner Analysis.2.log``` which as a regexp would work as ```[a-zA-Z ]*.log``` for the file name and I thought ```/var/log/plex/[a-zA-Z ]*.log``` in doublestar. But this is interpreted as (one letter, upper case or lower case or one space) followed by whatever followed by .log and not as (o

[2019-12-06 22:38] bmatcuk commented on #26
Sadly, doublestar supports shell-style globbing, not regular expressions, so this may be difficult to accomplish. Perhaps something like: `/var/log/plex/*[a-zA-Z].log`? That will force the character before `.log` to be a letter so it won't match `2.log`.

[2020-01-14 17:48] bmatcuk commented on #26
Closing due to inactivity.

[2020-01-14 17:48] #26 closed

[2020-03-08 06:23] houqp commented on #19
https://github.com/gobwas/glob also supports `**`, so that's a good candidate to benchmark against.

[2020-04-09 07:36] makiuchi-d opened #29 "Slash terminated pattern does not match."
The pattern `"*/"` does not match to the name `"a/"`.
This is different from standard library `path` and `path/filepath`.

https://play.golang.org/p/KNjSNRHQ7HH

[code]
 Result: `true true false`

[2020-04-09 13:05] bmatcuk commented on #29
Thanks for the bug report... I'll take a look at this over the weekend

[2020-04-12 13:23] #29 closed

[2020-04-12 13:26] bmatcuk commented on #29
I think I've fixed the issue... give it a try and let me know! Your test cases seem to pass locally, but the go playground is still failing - I suspect it's because they've cached an older version of doublestar.

[2020-04-13 03:46] makiuchi-d commented on #29
It worked perfectly! Thank you!

[2020-04-13 12:59] gvre opened #30 "Glob does not sort the results"
Hello,

It seems `doublestar.Glob` does not sort the results, like `filepath.Glob` does.

Steps to reproduce:
[code]

[code]

[code]

[2020-04-13 15:57] bmatcuk commented on #30
Hmm, while compatibility with the built-in Match/Glob functions is a design goal, the documentation for Glob does not seem to guarantee sorted results. I think if it's important that the results are sorted, you should probably sort them after running Glob - even when using the native implementation, as there's no guarantee that the result will be sorted.

Thoughts?

[2020-04-13 15:58] bmatcuk commented on #29
Great! Glad to help =)

[2020-04-13 18:11] gvre commented on #30
Although it is not part of the exported function's documentation, [sort.Strings](https://golang.org/src/path/filepath/match.go#L324) is used to sort the results ([documented here](https://golang.org/src/path/filepath/match.go#L307)), probably because that is what people expect when glob is used. Personally, I could sort the results, but I think the library should do that, if compatibility with the

[2020-04-14 00:18] bmatcuk commented on #30
Ok, fair enough! I've just pushed an update that should sort the results. Let me know if you run into any problems with it =)

[2020-04-14 05:56] gvre commented on #30
That's great! Thanks a lot.

[2020-04-14 14:28] bmatcuk commented on #30
You're welcome! =)

[2020-04-14 14:28] #30 closed

[2020-04-19 23:45] edumco opened #31 "Add Go 1.14 and Go 1.13 to Travis CI"
Even if not released in this versions it is a good practice to test in multiple go versions.

[2020-04-20 13:17] loeffel-io commented on #31
+1

[2020-04-20 13:18] loeffel-io opened #32 "Thank you!"
Just wanna say thank you for this great package! I use this package for [ls-lint](https://github.com/loeffel-io/ls-lint).

Keep up the great work!

[2020-04-20 14:49] bmatcuk commented on #32
Thanks for your kind note! I'm glad doublestar is working well for you! =)

[2020-04-20 14:49] #32 closed

[2020-04-20 20:12] twpayne opened #33 "Feature request: `os` package abstraction"
Firstly, thank you for this great library!

I'd like to be able to use the functions in my unit tests that run in a "virtual" root filesystem that is really a temporary directory in a real filesystem. This temporary directory is created just for the test and is cleaned up after the tests are run. This means that my tests are hermetic and bugs in my code do not damage the real filesystem.

This mea

[2020-04-25 12:19] bmatcuk commented on #33
Sounds good to me! Should make it easier to write tests for code that use doublestar. I've merged your PR =)

[2020-04-25 12:19] #33 closed

[2020-04-25 12:34] bmatcuk commented on #31
Oops, you're right, my travis config has fallen behind. I've added 1.14 and 1.13

[2020-04-25 12:35] #31 closed

[2020-04-26 04:37] edumco opened #36 "Add Dependabot analisys to the project"
[Dependabot](https://dependabot.com/) is a free service bought by Github that analise all dependencies listed in your project and send pull requests whenever a new version of any of these dependencies is released.

If the project has a CI the tests are automaticly trigged and the new dependency is tested wihout affect the master branch.

[2020-04-26 13:32] bmatcuk commented on #36
doublestar has no dependencies (see https://github.com/bmatcuk/doublestar/blob/master/go.mod)

[2020-04-27 02:50] #36 closed

[2020-05-20 09:04] pedropombeiro opened #39 "* matching like **"
The globbing expression `dir1/**/dir2/*` is descending into child directories within `dir2`. So it is matching `dir1/dir1_1/dir2/dir2_1/dir3`, where I'd only expect it to match `dir1/dir1_1/dir2/dir2_1`.

[2020-05-20 09:08] #39 closed

[2020-05-24 10:36] bnkai opened #40 "[bug] Glob doesn't match files with names starting with "【""
First thanks for this wonderful doublestar glob, it makes file matching very easy.

A possible bug we encountered in our usage of doublestar.Glob:
When a file has its name starting with "【" ( Lenticular bracket [wikipedia](https://en.wikipedia.org/wiki/Japanese_punctuation) , [ulookup](https://unicodelookup.com/#%E3%80%90/1)  ) it doesnt seem to match. Having the "【" in the path or in the filename

[2020-05-31 14:20] #40 closed

[2020-05-31 14:23] bmatcuk commented on #40
Hi @bnkai - I'm really sorry this took so long for me to get to! I intended on taking a look last weekend, but, before I knew it, the weekend was over!

Anyway, thank you for the well-written bug report! I think I've found the issue and just cut a v1.3.1. I've also included a test case for this issue that seems to be passing. Let me know if you have any further trouble!

[2020-05-31 18:09] bnkai commented on #40
@bmatcuk thanks for the update. It seems to work fine in my test cases. I'll report back if needed.

[2020-06-17 08:25] analytically opened #41 "Matches files starting with ."
From Glob:

"By default, file and directory names starting with . are only matched with literal .. The patterns *, **, ?, and [] will not match a leading .. To alter this behavior, you can use the DOTGLOB flag."

[2020-06-17 11:22] bmatcuk commented on #41
This is true in bash, and perhaps some other glob implementations, but doublestar seeks to be a drop-in replacement for go's standard Match and Glob functions. In go's implementation, wildcards match files beginning with a dot.

[2020-06-17 11:22] #41 closed

[2020-07-31 17:05] c4milo opened #42 "Return a File interface type instead of *os.File in OS interface Open method"
This makes easier to use doublestar when the calling code is already using a filesystem interface like go-billy or afero. I have a  fork with the changes here: https://github.com/c4milo/doublestar/commit/af79f844d63ce55bee1ca6b8d04ac96dc8fa38b5

If there is interest, I can send a PR.

Thanks 🙇

[2020-08-02 12:02] bmatcuk commented on #42
Hi @c4milo, that sounds like a good idea to me! Unfortunately, I think it's a breaking change to doublestar's API, so, we'll probably need to cut a v2. Kinda sad, since it's such a small change, but I'd hate for people to wake up some morning and find their code isn't compiling. Do you agree? Or can you think of some way the change could be made in a backward compatible way?

[2020-08-05 16:40] c4milo commented on #42
@bmatcuk, indeed, it wouldn't be backward compatible and will require cutting a major version. A less clean alternative is extending the OS interface with another `Open` method, maybe `Open2` 🤷 ,  that returns the file interface instead of the concrete `os` implementation. Then in https://github.com/bmatcuk/doublestar/blob/master/doublestar.go#L433 , running `vos.Open2()` if `vos.Open()` fails 😬

[2020-08-07 14:35] bmatcuk commented on #42
Alrighty, I've copied over your changes and released a v2 =) Could you update your dependency to my v2 release just to make sure everything still works? Thanks!

[2020-08-07 16:07] c4milo commented on #42
Works perfectly @bmatcuk, thank you!

[2020-08-07 16:07] #42 closed

[2020-08-13 02:06] robfig commented on #19
Related -
https://github.com/bazelbuild/bazel-gazelle/issues/786

What was the reasoning not to delegate to path.Match if a pattern didn't include "**"?

[2020-08-13 13:02] bmatcuk commented on #19
To be clear, the tool you are using is giving you a cumulative sum of all allocations. In this example, doublestar is called in a tight loop - any allocation in that loop will appear to balloon to some unreasonable cumulative sum.

But I'm curious how it got so high, too: the line in question is simply allocating a slice of strings - the length of the slice would be equal to the number of path seg

[2020-08-13 19:03] robfig commented on #19
Yes, I believe it was called 2 - 5M times. There is a list of patterns that is compared to every file in a repository. It could probably be more efficient, but I think this is pretty much in line with how one would use a library of this type. Gazelle does really non-trivial work, so having this one minor piece of its functionality account for 50% of its allocations in a standard use case seems unn

[2020-08-13 21:17] bmatcuk commented on #19
It's only more efficient in terms of memory allocation, at the cost of searching the pattern for `**` (and respecting escaped sequences). And, doing so would _increase_ the chance of subtle differences and bugs: while it is my goal to make doublestar a drop-in replacement for Match and Glob, including any quirks in their behavior, I can't promise with absolute certainty that doublestar behaves in

[2020-08-14 21:01] InfiniteTF opened #43 "[bug] Readdir errors reset glob results"
Hi,
a change was introduced in 1.30 to return the error from readdir, but this change is causing the glob results to get corrupted due to nil getting returned and overwriting all previous glob results.

https://github.com/bmatcuk/doublestar/blob/master/doublestar.go#L452

From what I can tell the line should just `return` rather than `return nil, err`.

[2020-08-15 14:13] bmatcuk commented on #43
Yup, I agree with that assessment! I've cut a new version of both v1 (v1.3.2) and v2 (v2.0.1) with the fix. Let me know if that solves the problem for you!

[2020-08-16 09:02] InfiniteTF commented on #43
It absolutely does, thanks for the quick response!

[2020-08-16 09:02] #43 closed

[2020-08-20 01:34] robfig commented on #19
If strings.Contains allocated a few bytes of memory, would everyone be happy with that? I don't think so, because it's  unnecessary for the work it has to do, and it's used as a foundational library to build more complicated tools which may need to call it very often.

Anyway, I'm not going to litigate this point, I was just trying to provide feedback about the usage of your library in the wild. I

[2020-08-20 12:10] bmatcuk commented on #19
Contrived benchmarks will not be nearly as useful as timings from a real-world use-case. You say you want to provide feedback about usage in the wild, and you already have the perfect test environment...

[2020-10-28 14:03] aeneasr opened #48 "Unable to expand files recursively"
I am trying to figure out a way to expand files recursively, but can not seem to get it working:

[code]

[code]

I also tried several other approaches including `stack/provisioning/tenant/{*,**/*}` and others but it looks like none of them really work.

[2020-10-28 14:54] bmatcuk commented on #48
Hmm, interesting... `stack/provisioning/tenant/**` should do the trick, but your example patterns look like they should work, too. I'll try to find some time this weekend to dig into it.

[2020-10-28 14:55] aeneasr commented on #48
It does, but it does not if `stack/provisioning/tenant/**.jsonnet` or any other combination:

[code]

[2020-10-31 18:30] bmatcuk commented on #48
Ah ya, I remember now... `**` does have some weird mechanics if you want to include patterns after the `**`. tl;dr: the pattern you're looking for is `stack/provisioning/tenant/**/*.jsonnet`. The behavior matches bash:

[code]

[2020-11-05 10:36] ash2k commented on #48
If this is the intended behavior it would be great to document it somehow because it's not clear from the grammar.

[2020-11-05 13:28] bmatcuk commented on #48
Ya, I'll add a note to the readme.

[2020-11-07 13:14] bmatcuk commented on #48
Ok, I've added a note to the readme.

[2020-11-10 14:14] ansrivas opened #49 "Question - Supporting negation cases"
Hello,
Thank you for your work on this library.

I have a use case where I'd exclude files and include others. I skimmed through the test-cases as well but I couldn't find, hence the query.

Reproducing steps:
[code]
Corresponding go-snippet:
[code]
Is this by design or it could be a feature worth supporting in the library?

[2020-11-10 14:34] bmatcuk commented on #49
Hi @ansrivas - doublestar doesn't support negation, but that could be an interesting feature. For the time being, you could accomplish it by using a very inclusive pattern with `Glob()` (such as `level1/level2/*`) and then use `Match()` to filter out results matching your negative pattern (`level1/level2/ignore*.std*`).

[2020-11-10 14:56] ansrivas commented on #49
Thank you for your response @bmatcuk . I also figured we could use that.
Just for the background, `promtail` from grafana uses `doublestar` to support file-glob/match.
Seems I should open this as an issue upstream:

[2020-11-18 08:30] pavelbazika opened #50 "GlobOS bug when processing alternatives"
Hi,

there is a bug when pattern starts with alternatives. `Glob` is called recursively instead of `GlobOS`.

https://github.com/bmatcuk/doublestar/blob/33c2b222a7d1f92626a41e980c0c05f257fe70fd/doublestar.go#L308

Best regards

Pavel

[2020-11-19 00:38] bmatcuk commented on #50
Oops! Good catch! Fixed in v2.0.4 and v1.3.4.

[2020-11-19 00:38] #50 closed

[2020-12-21 23:40] sspaink opened #51 "Support using exclamation mark (!) in non-matching character classes"
Would the maintainers of this package be comfortable with supporting the exclamation mark (!) as an alternative to the caret (^) in non-matching character classes? e.g.: `[!class]` instead of `[^class]`
Relevant issue: https://github.com/golang/go/issues/41394

I'd be happy to make a pull request, looking at the code it looks like a straightforward change. Thank you!

[2020-12-26 15:57] bmatcuk commented on #51
Hey @sspaink... my only qualm is that it is a breaking change as there is a (remote) possibility that someone may have included an exclamation mark in the beginning of their character class with the intention of _including_ it. I can cut a v3, though.

I'm going to grab some lunch and then I'll bang that out... pun intended =)

[2020-12-26 16:51] bmatcuk commented on #51
Just cut v3 =)

[2020-12-26 16:51] #51 closed

[2020-12-31 15:52] pjsg opened #52 "The command "go get github.com/bmatcuk/doublestar/v2" does not work"
I'm trying to install v2 of doublestar according to the instructions in the [v2 readme](https://github.com/bmatcuk/doublestar/tree/v2), and I get:

$ go get github.com/bmatcuk/doublestar/v2
cannot find package "github.com/bmatcuk/doublestar/v2" in any of:
	/snap/go/6745/src/github.com/bmatcuk/doublestar/v2 (from $GOROOT)
	/home/me/gocode/src/github.com/bmatcuk/doublestar/v2 (from $GOPATH)

I'm run

[2020-12-31 20:00] bmatcuk commented on #52
Honestly, I haven't done a ton of go dev since they introduced modules - it seems pretty hacky. I believe you can get `go get` to download v2+ if you set the `GO111MODULE` environment variable to `on`, such as:

[code]

Alternatively, if you create a `go.mod` file, it will automatically enable "module" mode and should do the right thing.

[2020-12-31 20:58] pjsg commented on #52
Actually, when I first tried this, it was being fetched due to a go.mod file (https://github.com/gphotosuploader/gphotos-uploader-cli/blob/master/go.mod) and that failed. I then tied fetching it from the command line.....

I'm a go newbie, so if stuff doesn't work, I'm rather at a loss....

[2021-01-30 14:34] cugu opened #53 "io/fs version"
Hi Bob,

thanks for this awesome package!

I created a version for the upcoming [io/fs](https://tip.golang.org/pkg/io/fs/): https://github.com/forensicanalysis/fsdoublestar

I just wanted to let you know and say thanks.

[2021-01-31 17:15] bmatcuk commented on #53
Do we know when io/fs might make it into a stable go release?

[2021-01-31 17:16] cugu commented on #53
Yes, in Go 1.16, next month.

[2021-01-31 17:35] bmatcuk commented on #53
Cool, thanks =)

[2021-01-31 17:35] #53 closed

[2021-01-31 17:36] #52 closed

[2021-01-31 17:38] #48 closed

[2021-02-02 00:21] edigaryev opened #54 "**.go doesn't match dir/file.go"
Documentation for `**` in [`doublestar.Match()`](https://pkg.go.dev/github.com/bmatcuk/doublestar/v3#Match) says:

[code]

The comment in the matching code also seems to imply similar properties:

https://github.com/bmatcuk/doublestar/blob/ff8da227480d92566a7716286127729290c87c34/doublestar.go#L223-L225

Despite this, `doublestar.Match("**.go", "dir/file.go")` returns `false`: https://play.golang.

[2021-02-02 14:00] bmatcuk commented on #54
From the readme:

[2021-02-02 14:00] #54 closed

[2021-04-25 00:18] bmatcuk commented on #19
I just cut doublestar v4 which is a complete rewrite with performance in mind. The repo includes some benchmarks and the results are pretty much identical to `path.Match()`, `filepath.Match()`, and `io/fs.Glob()`. v4 also switches to the io/fs package for Glob, so you'll need go v1.16+.

[2021-04-25 00:53] bmatcuk commented on #53
Hey @cugu: wanted to let you know, doublestar officially supports io/fs now. I just released v4 - it's a complete rewrite with much better performance and io/fs support. Check it out =)

[2021-04-25 00:56] cugu commented on #53
Nice! I'm gonna try it. Thanks for the info!

[2021-04-26 17:51] maxmcd opened #55 "How to search relative to the current directory with io.FS version?"
Imagine I might be missing something obvious. If I have a file like `/a/b/c/d.go` and I want to let a process within `/a/b/c/` match on `*.go` but also on `../c/d.go` how do I do that?

It seems if I create an fs with `os.DirFS("/a/b/c/")` I can get the first example to work, but then I can't get the second example to work since passing `../c/d.go` to the `fs.FS` created by the `os.DirFS` will err

[2021-04-26 17:56] maxmcd commented on #55
[code]

[2021-04-26 17:58] maxmcd commented on #55
Ok, going to close this, since the answer now seems obvious, but for clarity.

If I want a pattern like `../*.go` relative to the current directory, I do the following:
[code]

[2021-04-26 17:59] #55 closed

[2021-04-26 18:53] bmatcuk commented on #55
Ya, as you discovered, that'll work. It's a limitation in io/fs, unfortunately. Another option would be to use SplitPattern() as in the example in the readme: https://github.com/bmatcuk/doublestar#splitpattern

[code]

I _think_ `DirFS` will accept `..` and do the right thing.

[2021-04-26 20:00] maxmcd commented on #55
Yeah, as I was writing it I was like "oh wait is this even about this lib?", feel like I'm just getting familiar with io/fs.

Thanks for the follow-up!

[2021-04-26 23:11] maxmcd commented on #55
I will say @bmatcuk, there is a bit of nastiness here. In my example above the `filepath.Join(wd, input)` is invalid because it starts with a preceding slash. (Your example will work as-is).

Both Glob and GlobWalk ignores IO errors on the initial call to `fs.Stat`: https://github.com/bmatcuk/doublestar/blob/f7a81184821a624c0c3a0f79eb8293457402fea8/globwalk.go#L50-L51

So in my use the invalid pat

[2021-04-27 13:22] bmatcuk commented on #55
Hmm, ya, that's crap. I don't think they fully thought through everything in the io/fs package - io/fs.Glob will also silently fail, for example:

[code]

Prints nothing unless you remove that starting `/` from the pattern 😢 doublestar can strive to be better, though! I'll think about how to handle this - most of the time, we do want to ignore IO errors (for example, if a directory doesn't exist),

[2021-04-27 14:14] maxmcd commented on #55
Found the discussion: https://github.com/golang/go/issues/44092#issuecomment-774132549

This seems like a rough part of the learning curve, not sure I understand the argument that "these are known invalid paths but we will not error on them".

[2021-05-11 22:05] micimize opened #56 "Escaped braces aren't handled properly"
It seems that `\{` and `\}` are not handled properly in both pattern patching and path evaluation:
* The pattern `**/log file \{????-??-??\}.txt` will fail with a syntax error
* The input path `src/logs/log file {2021-05-11}.txt` will fail with any pattern (this is a valid path)

If I remove both from my test the other patterns and path combinations work fine. This does not seem to be the case for

[2021-05-12 21:06] bmatcuk commented on #56
Hmm, are you using doublestar v4? What OS are you on? How are you building your pattern? You'll need to double the backslashes to get them to stay in the string, ie `"**/log file \\{????-??-??\\}.txt"`.

I cannot reproduce this issue using v4 on macOS.

[2021-05-12 22:35] micimize commented on #56
I think I was maybe mistaken as to the exact issue – there is an issue with both `\[` and `\{` escaping.
If there is a match, they succeed, but if not, they return a syntax error. See https://play.golang.org/p/Saso864XooB

<details>
<summary>copied for reference</summary>

[code]

[2021-06-05 06:49] rgl commented on #49
@ansrivas, did you open an issue in upstream about using another Match to exclude results?

[2021-06-05 08:25] ansrivas commented on #49
Hi @rgl no, unfortunately, we maintained a local fork to work on it. Thanks for opening this upstream.

[2021-06-07 18:33] micimize commented on #56
@bmatcuk I found the issue – every iteration of the loop consuming pattern validates the remaining pattern:
https://github.com/bmatcuk/doublestar/blob/1fd2e2d0a06751f3a9a9174c29b6bc1f215f22b1/match.go#L279-L281

The `default` fallthrough after `'\\'` is matched breaks before bumping `patIdx` when a match is rejected, resulting in an invalid pattern at validation time:
https://github.com/bmatcuk/do

[2021-06-12 12:34] bmatcuk commented on #56
Hey @micimize! I'm so sorry I didn't see your reply back in May! I never got a notification from github that you replied! Your test cases were most helpful and I was able to fix the bug fairly quickly. I only wish I would have seen your reply a month ago so I could have fixed it then :cry:

Anyway, I just released v4.0.2 with the fix. Let me know if you have any trouble with it.

By the way, `doVa

[2021-08-19 18:42] michaelkebe commented on #49
@ansrivas Could you publish your local fork? Could you create a PR at grafana/loki?

[2021-08-25 14:10] bmatcuk commented on #56
I'm going to close this issue since there hasn't been any activity. Let me know if you run into trouble with the fix!

[2021-08-25 14:10] #56 closed

[2022-02-28 17:28] konsalex opened #58 "Ignore subdirectories pattern"
Hey folks,

Is there any way to ignore subdirectories based on the directory name? We currently have a lerna monorepo and I find it difficult to exclude multiple `node_modules` folders, while using [addlicense](https://github.com/google/addlicense/issues/105), which mentions that is using doublestar for the file matching.

The optimal would be to use it like this
[code]

but it doesn't seem to wor

[2022-02-28 20:07] bmatcuk commented on #58
doublestar doesn't currently support any sort of "negative" matching, but addlicense could add support for excluding matches using the `Match()` function.

[2022-03-01 11:49] konsalex commented on #58
Thanks for the comment @bmatcuk , have already opened an issue to their repo so let's see, feel free to close

[2022-03-01 14:21] #58 closed

[2022-06-27 16:43] marcelosousa opened #59 "Question: how to sponsor this project?"
Hi 👋 ,

Thanks so much for the work on this project! At @Reviewpad, we are trying to support the OSS projects that we use as dependencies to our main repository [reviewpad/reviewpad](https://github.com/reviewpad/reviewpad).

Do you plan to join any sponsoring program? We are also happy to help the community to maintain the project.

Thanks!

[2022-06-27 19:54] bmatcuk commented on #59
That's really cool! I appreciate that you're supporting your OSS dependencies!

Apparently it takes a few days to setup an account, but I'll let you know when it's ready.

Thanks again! I'm glad you're enjoying doublestar!

[2022-06-28 14:31] bmatcuk commented on #59
Hello again @marcelosousa,

My sponsorship account has been approved: https://github.com/sponsors/bmatcuk

Thanks!

[2022-06-28 16:35] bmatcuk commented on #59
Thanks, @marcelosousa! I appreciate that! I've added a reviewpad logo to the readme 😄 Let me know if you'd like a different logo, or would like it to point to a different url, etc.

[2022-06-28 17:30] #59 closed

[2022-06-28 22:20] sebastien-rosset commented on #55
The proposed `SplitPattern` solution can yield unexpected results. If looking for a drop-in replacement of `filepath.Glob` with `**` support, it is tempting to write a wrapper function that takes a `pattern`. The subtle point is that in some cases `doublestar.Glob` returns an empty array whereas `filepath.Glob` returns an array of length > 0.

See https://go.dev/play/p/qSWoMWjq121

[2022-06-28 23:28] bmatcuk commented on #55
Ya, this is actually intentional as doublestar.Glob is meant to be a drop-in replacement for io/fs.Glob, which also has this odd behavior. See the note at the bottom of doublestar.Glob's documentation: https://github.com/bmatcuk/doublestar#glob

You'll need to strip out /./ and /../ segments.

[2022-06-29 14:32] sebastien-rosset commented on #55
ok, thanks. I'm trying to figure out how to take as input any arbitrary path provided by the user (relative, absolute, symlink...)

[2022-06-29 17:55] sebastien-rosset commented on #55
Here is what I came up with. I'm trying to get a drop-in replacement for `filepath.Glob`, with the additional functionality that it supports double-star. It feels there ought be a simpler way.

[code]

Full program at https://go.dev/play/p/d3K2PSoSfK5

[2022-07-02 16:38] makiuchi-d opened #63 "Does not match when **/ and {} are combined"
if `**/` is followed by `{...}`, `Match()` does not work correctly in v4.
it works fine until v3.

https://go.dev/play/p/chnmf65L8EK

[2022-07-02 20:14] bmatcuk commented on #63
Thanks for the bug report, @makiuchi-d. Actually turns out there's a second, related bug with patterns such as `a*{b,c}` (one or more characters followed by a star and then a list of `{alts}`). Additionally, patterns of the form you discovered (`**/{a,b}`) do not produce correct results with Glob/GlobWalk - specifically, they do not return paths for which `**` is replaced with nothing such as `a`

[2022-07-02 20:51] bmatcuk commented on #63
I fixed all three bugs and released v4.0.3 just now. Let me know if you discover any more issues!

[2022-07-03 06:12] makiuchi-d commented on #63
Thank you for the fix.
It now works perfectly.

Please take care of yourself.

[2022-07-03 06:12] #63 closed

[2022-07-08 10:58] raphaelvigee opened #64 "Support fs.SkipDir"
Would it be possible to add support for fs.SkipDir on `GlobWalk` ?

[2022-07-10 18:28] bmatcuk commented on #64
Support was added in v4.2.0, which was just released.

[2022-07-11 10:53] raphaelvigee commented on #64
Awesome! 👌

[2022-07-11 10:53] #64 closed

[2022-07-27 22:17] sebastien-rosset opened #66 "doublestar.FilepathGlob() should return filepath.ErrBadPattern, not path.ErrBadPattern"
`doublestar.FilepathGlob` should return `filepath.ErrBadPattern`, not `path.ErrBadPattern`. That's because `doublestar.FilepathGlob` should be consistent with the `filepath.Glob` behavior.

`doublestar.Glob` correctly returns `path.ErrBadPattern` for consistency with `io/fs.Glob`.

[2022-07-30 13:02] bmatcuk commented on #66
That's super annoying that they aren't the same error. In the go code, io/fs specifically uses path.ErrBadPattern, why does filepath create a different error instance instead of just using path.ErrBadPattern, too? They even have the exact same error message! Ugh. /rant

In any event, I would argue that every function in doublestar should be using doublestar.ErrBadPattern because a library should b

[2022-07-30 16:32] sebastien-rosset commented on #66
If `doublestar.FilepathGlob()` does not return `filepath.ErrBadPattern`, then it's not really a drop-in replacement as documented here: https://github.com/bmatcuk/doublestar/blob/master/utils.go#L68-L70. In that case I think we should clarify the return errors are not the same, so it's not possible to just replace one call by another. I.e. the caller needs to convert the error such that any existi

[2022-08-01 17:17] sebastien-rosset opened #68 "doublestar.FilepathGlob("..") returns nil. It should return []string{".."}"
`doublestar.FilepathGlob("..")` returns `nil`. Since it's meant to be a drop-in replacement for `filepath.Glob()`, it should return `[]string{".."}`

[2022-09-04 12:40] #66 closed

[2022-09-04 12:40] bmatcuk commented on #66
I've added some documentation about ErrBadPattern

[2022-10-24 10:26] ohkinozomu opened #72 "Glob sometimes hangs"
Hello.
My use of this library is to extract files in a particular programming language from a git repository.

I have found that the program hangs in some repositories.

The following is sample code.

[code]

The two I have found are [rancher/k3os](https://github.com/rancher/k3os) and [google/google-ctf](https://github.com/google/google-ctf).

doublestar version: 4.2.0

[2022-10-30 15:20] bmatcuk commented on #72
These repos have circular symbolic links. For example, in k3os, `images/30-bin/root` is a symbolic link to `../..` (ie, the root of the repo). So Glob is recursing on these endlessly. I'll have to think about the best way to solve that...

[2022-11-01 14:52] twpayne opened #73 "`Glob` incorrectly returns errors if pattern does not match when failing on IO errors"
This code:

[code]

incorrectly returns an error if `non-existent-path` does not exist. It should return an empty list of matches and no error.

The [`exists` function](https://github.com/bmatcuk/doublestar/blob/master/glob.go#L338-L342) is certainly buggy, as it returns an error when a file does not exist, whereas it should return `false` and no error. It should be something like:

[code]

[2022-11-01 17:41] fho commented on #73
This is the expected behavior, see also https://github.com/bmatcuk/doublestar/pull/71#issuecomment-1298881798

[2022-11-01 17:59] twpayne commented on #73
I'd argue that this behavior is incorrect. Consider the current behavior:

| Pattern | Directory contents | Result of `Glob` |
| - | - | - |
| `*.txt` | `a.txt` | `[]string{"a.txt"}` |
| `*.txt` | empty | `nil` |
| `a.txt` | `a.txt` | `[]string{"a.txt"}` |
| `a.txt` | empty | error |

Why should the user removing `a.txt` cause `Glob` to return an error instead of returning no matches?

[2022-11-01 20:08] bmatcuk commented on #73
Hmm, this is a tough call because I could see arguments both ways. I've typed dozens of replies to this github issue and keep backtracking because my opinion keeps changing...

I guess one question that comes to mind is: if you do _not_ consider this an error, what IO errors _are_ you concerned with? Why not just run doublestar without the `WithFailOnIOErrors` option?

This is a bit of a corner ca

[2022-11-01 21:49] twpayne commented on #73
This is a bit of a misleading question, as a file not existing is not an I/O error.

Example errors I would like to be surfaced include, say, permission errors (e.g. when a user does not have permission to read a subdirectory), and errors that indicate that the filesystem changed while being iterated over. I would also expect to get an error if the underlying filesystem is corrupt, e.g. if any sys

[2022-11-01 22:08] twpayne commented on #73
As an additional comment, in my case the pattern is specified by the user and the file system is controlled by the user. I want to be able to write a single piece of code that handles all combinations of pattern and file system correctly, and specifically not have to write a special case for when the user-specified pattern can only match one entry in the user-controlled file system and that entry

[2022-11-02 09:01] fho commented on #73
I agree now with @twpayne that the inconsistency is bad and confusing.
The interpretation of the passed `pattern` parameter changes when the `WithFailOnIOErrors` option is passed. Without `WithFailOnIOErrors` the parameter is always a pattern. With `WithFailOnIOErrors` the parameter is interpreted as pattern and sometimes as path that must exist.

I suggest to change the behavior when using `WithF

[2022-11-02 14:53] bmatcuk commented on #73
To be clear, my reply above was a rambling stream-of-consciousness, not meant as argumentative... just trying to think through the problem and the ramifications for a broader user-base. I think both sides are equally valid. But it seems we agree that the current behavior is inconsistent, so I'm happy to fix it.

Can either of you think of any situations where ErrNotExist _should_ be returned? I wa

[2022-11-02 15:26] fho commented on #73
I'm unsure how broken symlinks should be handled.
doublestar is following directory symlinks. I would classify broken symlinks as I/O errors, therefore returning `fs.ErrNotExist` makes sense.
**But** when doublestar is encountering a symlink targeting a file, it is returning the path of the symlink, not the resolved path.
Because the unresolved paths are returned, returning `fs.ErrNotExist` seems

[2022-11-03 13:39] bmatcuk commented on #73
No worries, it's a fairly easy fix... I can handle it =)

[2022-11-03 14:06] fho commented on #73
@bmatcuk thanks! :-)
What do you think about the alternative options that I suggested in https://github.com/bmatcuk/doublestar/issues/73#issuecomment-1299887740 regarding still supporting having detailed errors when a pattern is a path and does not exist

[2022-11-03 14:11] bmatcuk commented on #73
I was thinking of adding an option that would thrown an error, but only if someone actually requested it. Do you think it'd be a useful feature? Should I go ahead and add it now?

[2022-11-03 14:19] fho commented on #73
@bmatcuk to throw `fs.ErrNotExist` if a pattern is a path and it does not exist?
Yes, I think that is useful.

[2022-11-03 18:30] bmatcuk commented on #73
The solution was actually a bit more involved. I've [opened a PR](https://github.com/bmatcuk/doublestar/pull/74) and I'd appreciate if you both gave it a quick test to make sure it works the way you expect before I merge it.

One caveat is that, because of poor symlink support in io.fs, I cannot differentiate broken symlinks from other nonexistent paths. In other words, I must treat a pattern such

[2022-11-04 13:59] fho commented on #73
@bmatcuk I did a few manual tests and looks good, behaves as I would expect with `doublestar.WithFailOnIOErrors()`.

I'm now of course missing the ability to get an fs.ErrNotExist if the whole or a part of the pattern is a filepath and it does not exist.

[2022-11-04 14:42] bmatcuk commented on #73
Ya, I'm going to add that as a separate feature... I don't want to overload this PR with too much.

@twpayne do you have any input on my PR?

[2022-11-05 14:01] #73 closed

[2022-11-05 14:09] bmatcuk commented on #73
v4.3.1 released with this bug fixed. I also addressed the small issue @twpayne found in the PR and added some tests that cause IO errors to flex that code 😄

[2022-11-05 17:49] bmatcuk commented on #73
@fho here's a PR to add at option to fail if the pattern doesn't exist: https://github.com/bmatcuk/doublestar/pull/75

[2022-11-05 18:20] twpayne commented on #73
Thank you for the speedy fix :)

[2022-11-06 13:03] bmatcuk commented on #73
You're welcome =)

[2022-11-06 17:51] #68 closed

[2022-11-06 17:53] bmatcuk commented on #68
v4.3.2 released with this fix =)